/* MENU SUPERIOR */
.menu-superior {
    background-color: var(--roxo);
    color: var(--cinza-claro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 60px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: relative;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .menu-links {
    display: flex;
    gap: 20px;
  }
  
  .link-header {
    color: var(--cinza-claro);
    text-decoration: none;
    font-weight: 400;
    transition: color 0.3s ease;
    width: auto;
    white-space: nowrap; 
  }
  
  .link-header:hover {
    color: var(--amarelo);
  }

  .logout-btn {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--cinza-claro);
    font-size: 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logout-btn:hover {
    color: var(--amarelo);
    transform: scale(1.1);
    background-color: transparent;
  }